body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 50%;
}

#game_finished {
    position: absolute;
    left: 150px;
    top: 730px;
    z-index: 10;
}

.rotate {
    display: none;
    position: relative;
    top: 300px;
}

.card {
    background: none;
    border: none;
    width: 100%;
    font-size: 16px;
}

.character {
    margin-right: 0px;
}

.character img:hover {
    transform: scale(1.5);
}

.charDiv {
    font-size: 100px;
}
/* 
@media only screen and (max-width: 667px) {
    .card {
        width: 24%;
        font-size-adjust: inherit;
        margin: 0px;
    }
    .card-body{
        padding: 0px;
    }

} */

@media all and (orientation:portrait) {
    body {
        -webkit-background-size: 100%; 
        -moz-background-size: 100%; 
        -o-background-size: 100%; 
        background-size: 100%; 
        -webkit-background-size: cover; 
        -moz-background-size: cover; 
        -o-background-size: cover; 
        background-size: cover;
    }

    .container-fluid {
        display: none;
    }

    .rotate {
        display: block
    }
}